﻿<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" ng-app="simpleNodeNotes" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple Notes</title>

    <!-- build:css css/styles.min.css -->
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css" />
    <!-- endbuild -->

    <!-- build:js js/main.min.js -->
    <script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="libs/angular/angular.min.js"></script>
    <script type="text/javascript" src="libs/angular-translate/angular-translate.min.js"></script>
    <script type="text/javascript" src="libs/angular-ui-router/release/angular-ui-router.min.js"></script>

    <script type="text/javascript" src="core.js"></script>
    <!-- endbuild -->

    <style>
        .active {
            color: red;
            font-weight: bolder;
        }
    </style>
</head>
<body ng-controller="mainController as ctrl">
    <div class="container-fluid">
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="notes" ui-sref-active="active" translate="NotesTitle"></a>
            </div>
            <ul class="nav navbar-nav">
                <li><a ui-sref="hello" ui-sref-active="active" translate="WelcomeTitle"></a></li>
                <li><a ui-sref="about" ui-sref-active="active" translate="AboutTitle"></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="prevent-default" href="#" translate="CzechLang" ng-click="ctrl.changeLanguage('cs')"></a></li>
                <li><a class="prevent-default" href="#" translate="EnglishLang" ng-click="ctrl.changeLanguage('en')"></a></li>
            </ul>
        </nav>
    </div>

    <div class="container-fluid">
        <ui-view name="commonView" />
    </div>
</body>
</html>