﻿<div>
    <button class="btn btn-primary btn-md" translate="NewNoteTitle" id="newNoteBtn" ng-click="$ctrl.newNote()"></button>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td translate="IdTitle"></td>
                <td translate="ActionsTitle"></td>
                <td translate="NoteTitle"></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in $ctrl.notes">
                <td>{{x.id}}</td>
                <td><a class="btn btn-xs btn-primary" ui-sref="note({ noteId: x.id })" translate="EditAction"></a></td>
                <td>{{x.title}}</td>
            </tr>
        </tbody>
    </table>
</div>