﻿<ng-form name="editNoteForm">
    <div class="form-group">
        <label for="noteId">Id:</label>
        <input type="text" class="form-control" id="noteId" ng-model="$ctrl.note.id" readonly="readonly" />
    </div>
    <div class="form-group">
        <label for="noteText">Note:</label>
        <textarea class="form-control" id="noteText" name="noteText" ng-model="$ctrl.note.title" ng-required="true"></textarea>
        <span class="" feedback="editNoteForm.noteText"></span>
    </div>
    <div class="btn-group">
        <span>
            <button class="btn btn-default" translate="CancelTitle" ng-click="$ctrl.cancelNote()"></button>
        </span>
        <span>
            <button class="btn btn-primary" translate="UpdateTitle" ng-click="$ctrl.updateNote()" ng-show="$ctrl.note.id > 0"></button>
            <button class="btn btn-primary" id="addNoteBtn" translate="AddTitle" ng-click="$ctrl.addNote()" ng-hide="$ctrl.note.id > 0"></button>
        </span>
        <span ng-show="$ctrl.note.id > 0">
            <button class="btn btn-danger" translate="DeleteTitle" ng-click="$ctrl.deleteNote()"></button>
        </span>
    </div>
</ng-form>
